/frontend/node_modules
/backend/node_modules
/backend/.env
/backend/db_migrations/
/backend/config
/sequenceDiagram/
/usecaseDiagram/
/blockchain/node_modules
.env
/legacy

# Sensitive credentials & secrets
.env.dev
password
telegram
vpn
useremail.txt
_tmp_dump.sql
_screenshot/
screenshot/
img/
pgadmin/pgpassfile
pgadmin/servers.json
.DS_Store
*.log